/*------------------------------------------------------------------
Project:  Reaction Tester
Version:  
Last change:  
Assigned to:  @Rammy7219
Primary use:  
-------------------------------------------------------------------*/

body {

    font-family:  sans-serif;

    }

    #shape {

        width: 200px;
        height: 200px;
        background-color: red;
        display: none;
        position: relative;

    }

    .bold {

        font-weight: bold;

    }